In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
cd ..

/Share/home/shibinbin/projects/exRNA

In [14]:
import os
import re
import pandas as pd
from glob import glob

In [22]:
pat = r'output/piranha_peak_cov_with_frequency/20/ZeroTruncatedNegativeBinomial/(?P<pvalue>[0-9]+)/(?P<frequency>[0-9]+)/(?P<sample_id>[^\.]+).bed'
pat = re.compile(pat)
records = []
for dirpath, dirnames, filenames in os.walk('output/piranha_peak_cov_with_frequency/20/ZeroTruncatedNegativeBinomial'):
    for filename in filenames:
        fullpath = os.path.join(dirpath, filename)
        record = pat.match(fullpath).groupdict()
        with open(fullpath, 'r') as f:
            df = pd.read_table(f, header=None, sep='\t')
        record['n_peaks'] = df.shape[0]
        record['n_nans'] = np.isnan(df.iloc[:, 4]).sum()
        records.append(record)
records = pd.DataFrame.from_records(records)

In [25]:
records['n_nans'].sum()

0

In [20]:
merged = None
for filename in glob('output/piranha_peak_cov_with_frequency_rna_type/20/ZeroTruncatedNegativeBinomial/01/1/509970-A/*.bed'):
    pd.read_table(filename, header=None)
    bed = pd.read_table(filename, header=None)
    if merged is None:
        merged = bed
    else:
        merged.iloc[:, 4] += bed.iloc[:, 4]
merged.head()

       0   1   2       3   4  5
0  12954  60  94  peak_1   9  +
1  12956   0  72  peak_2  55  +
2  12958  40  82  peak_3   7  +
3  12962   0  60  peak_4  59  +
4  12969   0  40  peak_5  44  +

In [19]:
np.isnan(merged.iloc[:, 4]).sum()

0